.cardUs{
    
    width: 200px;
    height: 290px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(157, 143, 164);
    
    border-radius: 30 px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color:#010000;
    text-align: center;
    transition: all 0.2s ease-in-out; 
    /*glassmorphic container*/  
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(157, 143, 164);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.aHover{
    margin:10px;
    color:black;
    transition: all 0.2s ease-in-out;

}
.cardUs:hover{
    background-color: rgb(0, 4, 4);
    color: azure;
    box-shadow: 0 0 5px rgb(76, 5, 112), 0 0 10px rgb(157, 143, 164),0 0 20px rgb(76, 5, 112);}
.cardUs:hover .child .aHover{

    transform: scale(1.25);
    transition: 0.5s;
    color: #c629d1;
    margin: 1rem;
    margin-bottom: 1.5rem;
    
}
.aHover:hover{
    transform: scale(1.25px);
    /* margin: 1rem; */
}

        /* animation: shake 2s;
        animation-iteration-count: infinite; */
       
    .imgWrapper{
        overflow:hidden;
        padding-top: 20px;
        padding-bottom: 20px;
    
      }
    .cardUs:hover .hoverZoom {
        overflow: hidden;
        transition: 0.5s;
        transform: scale(1.15);
      }
    .hoverZoom{
        overflow: hidden;
        border-radius:50%;
    }
    