.cardUs{
    
    width: 200px;
    height: 290px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(157, 143, 164);
    
    border-radius: 30 px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color:#010000;
    text-align: center;
    transition: all 0.2s ease-in-out; 
    /*glassmorphic container*/  
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(157, 143, 164);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
