.color_2{

    color: #F26922;
    text-align: center;
}
.color_1{
    color: #3D2B7F;
    text-align: center;
}
.nav{
    border-style:solid;
    border-radius: 12px;

    border-color: #3D2B7F;
    margin-bottom: 10px;
    text-align: center;
  }
  .footerColor{
    color: azure;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
  }