/* .row{
    box-sizing: border-box;
} */

.column {
  height: 50px;
  margin-bottom: 20px;
 
}

.row {
  margin: 0 -5px;
}

.card {
  height: 50px;
  white-space: nowrap; /* Prevent content from wrapping */
  overflow: hidden; /* Hide any overflowing content */
  background-color: rgb(220, 208, 225);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
}

.content1 {
  
  position: relative;
  margin: auto 70px;
}
.content2 {
  position: relative;
  margin: auto 135px;
}
.content3 {
  position: relative;
  margin: auto 100px;
}
.content4 {
  position: relative;
  margin: auto 160px;
}
.content5 {
  position: relative;
  margin: auto 127px;
}
.paralist{
  color:white;
  padding: 0.5rem;
  font-size: large;

}