/* .row{
    box-sizing: border-box;
} */

.column {
  height: 50px;
  margin-bottom: 20px;
 
}

.row {
  margin: 0 -5px;
}

.card {
  height: 50px;
  white-space: nowrap; 
  overflow: hidden; /* Hide any overflowing content */
  background-color: rgb(220, 208, 225);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
}

.content1 {
  
  position: relative;
  margin: auto 70px;
}
.content2 {
  position: relative;
  margin: auto 135px;
}
.content3 {
  position: relative;
  margin: auto 100px;
}
.content4 {
  position: relative;
  margin: auto 160px;
}
.content5 {
  position: relative;
  margin: auto 127px;
} 
/* .content1,
  .content2,
  .content3,
  .content4,
  .content5{
    flex:1;
  } */
.paralist{
  color:#DDDDDD;
  padding: 0.5rem;
  font-size: large;
  

}
.anchor{
  
    text-decoration:none;
    color:#DDDDDD;
 
}
.anchor:hover{
  color:#E86A33 ;
}
.button:hover{
  background-color:cornflowerblue;
}

@media (max-width:540px){
  .column{
    width:100%;
  }
  .content1,
  
  .content4,
  .content5{
   display: none;
   
  }
  .content2,
  .content3{
    margin:auto;
    font-size: .8rem;
  }
  
}